#Desafio Análise de Dados:
#Exercitar os seguintes conceitos trabalhados no Módulo:
##✓ Realizar a análise de uma base de dados real em Python.

In [ ]:
# importando as bibliotecas
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")

In [ ]:
df

         datetime  rec_id  season  ...  casual  registered  total_count
0      2011-01-01       1       1  ...       3          13           16
1      2011-01-01       2       1  ...       8          32           40
2      2011-01-01       3       1  ...       5          27           32
3      2011-01-01       4       1  ...       3          10           13
4      2011-01-01       5       1  ...       0           1            1
...           ...     ...     ...  ...     ...         ...          ...
17374  2012-12-31   17375       1  ...      11         108          119
17375  2012-12-31   17376       1  ...       8          81           89
17376  2012-12-31   17377       1  ...       7          83           90
17377  2012-12-31   17378       1  ...      13          48           61
17378  2012-12-31   17379       1  ...      12          37           49

[17379 rows x 17 columns]

In [ ]:
df.describe()

           rec_id        season  ...    registered   total_count
count  17379.0000  17379.000000  ...  17379.000000  17379.000000
mean    8690.0000      2.501640  ...    153.786869    189.463088
std     5017.0295      1.106918  ...    151.357286    181.387599
min        1.0000      1.000000  ...      0.000000      1.000000
25%     4345.5000      2.000000  ...     34.000000     40.000000
50%     8690.0000      3.000000  ...    115.000000    142.000000
75%    13034.5000      3.000000  ...    220.000000    281.000000
max    17379.0000      4.000000  ...    886.000000    977.000000

[8 rows x 16 columns]

In [ ]:
# a. Qual o tamanho desse dataset?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           17379 non-null  object
 1   rec_id             17379 non-null  int64
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   is_holiday         17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   is_workingday      17379 non-null  int64
 9   weather_condition  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  total_count        17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [ ]:
# b. Qual a média da coluna windspeed?
df["windspeed"].mean()

0.1900976063064631

In [ ]:
# c. Qual a média da coluna temp?
df["temp"].mean()

0.4969871684216586

In [ ]:
# d. Quantos registros existem para o ano de 2011?
df['datetime'] = pd.to_datetime(df['datetime'])
df.dtypes
cond = (df['datetime'] >= '2011-01-01') &  (df['datetime'] <= '2011-12-31')
df[cond]
print("Quantidade de registros existentes para o ano de 2011:", sum(cond))

Quantidade de registros existentes para o ano de 2011: 8645

In [ ]:
# e. Quantos registros existem para o ano de 2012?
df['datetime'] = pd.to_datetime(df['datetime'])
df.dtypes
cond = (df['datetime'] >= '2012-01-01') &  (df['datetime'] <= '2012-12-31')
df[cond]
print("Quantidade de registros existentes para o ano de 2012:", sum(cond))

Quantidade de registros existentes para o ano de 2012: 8734

In [ ]:
# f. Quantas locações de bicicletas foram efetuadas em 2011?
# Legenda: 0:2011 / 1:2012
df[['year', 'total_count']].groupby(by='year').sum() #slice

      total_count
year
0         1243103
1         2049576

In [ ]:
# g. Quantas locações de bicicletas foram efetuadas em 2012?
# Legenda: 0:2011 / 1:2012
df[['year', 'total_count']].groupby(by='year').sum() #slice

      total_count
year
0         1243103
1         2049576

In [ ]:
# h. Qual estação do ano contém a maior média de locações de bicicletas?
# legenda: estação do ano (1: inverno, 2: primevera, 3: verão, 4: outono). Relativo ao hemisfério norte
#df[['weather_condition', 'total_count']].groupby(by='weather_condition').mean() #slice
#df[['weather_condition', 'total_count']].groupby(by='weather_condition').count() #slice
#df.groupby(by='weather_condition').mean() #slice
df[['season', 'total_count']].groupby(by='season').mean()['total_count'].sort_values(ascending=False) #slice

season
3    236.016237
2    208.344069
4    198.868856
1    111.114569
Name: total_count, dtype: float64

In [ ]:
# i. Qual estação do ano contém a menor média de locações de bicicletas?
# legenda: estação do ano (1: inverno, 2: primevera, 3: verão, 4: outono). Relativo ao hemisfério norte
#df[['weather_condition', 'total_count']].groupby(by='weather_condition').mean() #slice
df[['season', 'total_count']].groupby(by='season').mean()['total_count'].sort_values(ascending=True) #slice

season
1    111.114569
4    198.868856
2    208.344069
3    236.016237
Name: total_count, dtype: float64

In [ ]:
# j. Qual horário do dia contém a maior média de locações de bicicletas?
# legenda: hora do dia (0 a 23)
#df[['hour', 'total_count']].groupby(by='hour').mean()
df[['hour', 'total_count']].groupby(by='hour').mean()['total_count'].sort_values(ascending=False) #slice

hour
17    461.452055
18    425.510989
8     359.011004
16    311.983562
19    311.523352
13    253.661180
12    253.315934
15    251.233196
14    240.949246
20    226.030220
9     219.309491
7     212.064649
11    208.143054
10    173.668501
21    172.314560
22    131.335165
23     87.831044
6      76.044138
0      53.898072
1      33.375691
2      22.869930
5      19.889819
3      11.727403
4       6.352941
Name: total_count, dtype: float64

In [ ]:
# k. Qual horário do dia contém a menor média de locações de bicicletas?
# legenda: hora do dia (0 a 23)
#df[['hour', 'total_count']].groupby(by='hour').mean() #slice
df[['hour', 'total_count']].groupby(by='hour').mean()['total_count'].sort_values(ascending=True)

hour
4       6.352941
3      11.727403
5      19.889819
2      22.869930
1      33.375691
0      53.898072
6      76.044138
23     87.831044
22    131.335165
21    172.314560
10    173.668501
11    208.143054
7     212.064649
9     219.309491
20    226.030220
14    240.949246
15    251.233196
12    253.315934
13    253.661180
19    311.523352
16    311.983562
8     359.011004
18    425.510989
17    461.452055
Name: total_count, dtype: float64

In [ ]:
# l. Que dia da semana contém a maior média de locações de bicicletas?
# dia da semana (0: domingo, 1: segunda, 2: terça, 3: quarta, 4: quinta, 5: sexta, 6: sábado)
#df[['weekday', 'total_count']].groupby(by='weekday').mean() #slice
df[['weekday', 'total_count']].groupby(by='weekday').mean()['total_count'].sort_values(ascending=False)

weekday
4    196.436665
5    196.135907
2    191.238891
3    191.130505
6    190.209793
1    183.744655
0    177.468825
Name: total_count, dtype: float64

In [ ]:
# m. Que dia da semana contém a menor média de locações de bicicletas?
# dia da semana (0: domingo, 1: segunda, 2: terça, 3: quarta, 4: quinta, 5: sexta, 6: sábado)
#df[['weekday', 'total_count']].groupby(by='weekday').mean() #slice
df[['weekday', 'total_count']].groupby(by='weekday').mean()['total_count'].sort_values(ascending=True)

weekday
0    177.468825
1    183.744655
6    190.209793
3    191.130505
2    191.238891
5    196.135907
4    196.436665
Name: total_count, dtype: float64

In [ ]:
# n. Às quartas-feiras (weekday = 3), qual o horário do dia contém a maior média de locações de bicicletas?
# dia da semana (0: domingo, 1: segunda, 2: terça, 3: quarta, 4: quinta, 5: sexta, 6: sábado)
cond = (df['weekday'] == 3)
#df[cond]
#df[cond][['hour', 'total_count']].groupby(by='hour').mean() #slice
df[cond][['hour', 'total_count']].groupby(by='hour').mean()['total_count'].sort_values(ascending=False) #slice

hour
17    513.144231
18    494.029126
8     488.326923
19    357.504854
7     303.980769
16    272.961538
20    256.660194
9     238.528846
21    194.669903
12    193.903846
13    185.826923
15    181.288462
14    170.548077
11    152.201923
22    143.689320
10    131.894231
6     107.807692
23     83.737864
0      34.557692
5      25.750000
1      15.336538
2       7.813725
4       4.968750
3       4.888889
Name: total_count, dtype: float64

In [ ]:
# o. Aos sábados (weekday = 6), qual o horário do dia contém a maior média de locações de bicicletas?
cond = (df['weekday'] == 6)
#df[cond]
#df[cond][['hour', 'total_count']].groupby(by='hour').mean() #slice
df[cond][['hour', 'total_count']].groupby(by='hour').mean()['total_count'].sort_values(ascending=False) #slice

hour
13    385.371429
15    382.428571
14    381.333333
12    375.380952
16    366.142857
17    334.409524
11    328.609524
18    292.048077
10    263.723810
19    239.932692
9     186.790476
20    180.865385
21    156.000000
22    139.663462
23    115.855769
8     114.476190
0      94.304762
1      67.780952
2      50.495238
7      45.961905
3      22.885714
6      21.000000
5       8.291262
4       7.657143
Name: total_count, dtype: float64